<% new_arrivals_product_cards = load_product_cards(@new_arrivals) %>

<div class="new-arrivals-content">
  <% new_arrivals_product_cards.each do |product| %>
    <%= render partial: 'spree/home/partials_v2/product_card_sm', locals: { product: product } %>
  <% end %>
</div>

# touched on 2025-05-22T20:33:10.000081Z
# touched on 2025-05-22T23:02:56.665727Z
# touched on 2025-05-22T23:24:15.602337Z
# touched on 2025-05-22T23:47:23.545898Z
# touched on 2025-08-14T20:17:37.971539Z
# touched on 2025-08-14T20:19:07.132666Z
# touched on 2025-08-14T20:21:52.896451Z
# touched on 2025-08-14T20:26:44.522630Z
# touched on 2025-08-14T20:30:07.925464Z
# touched on 2025-08-14T20:32:23.759793Z
# touched on 2025-08-14T20:33:41.630023Z
# touched on 2025-08-14T20:34:39.261886Z
# touched on 2025-08-14T20:54:10.377432Z