<%= form_for @order, url: update_checkout_path(@order.state), remote: true, html: { id: "checkout_form_#{@order.state}" } do |form| %>

  <div class="input-form-group">
    <%= render @order.state, form: form %>
  </div>

  <button id="checkout-payment-button" class="d-none" type="submit"></button>
<% end %>


# touched on 2025-05-22T19:08:30.914915Z
# touched on 2025-05-22T23:44:20.110397Z
# touched on 2025-08-14T20:22:44.261311Z
# touched on 2025-08-14T20:31:08.536117Z
# touched on 2025-08-14T20:32:48.676874Z
# touched on 2025-08-14T20:35:31.608340Z
# touched on 2025-08-14T20:47:14.224255Z
# touched on 2025-08-14T20:47:42.709050Z
# touched on 2025-08-14T20:50:22.156853Z