<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
</head>

<body>
    <%= yield %>
</body>
</html>

# touched on 2025-05-22T19:24:52.321768Z
# touched on 2025-05-22T22:43:15.131215Z
# touched on 2025-08-14T20:19:11.577385Z
# touched on 2025-08-14T20:26:33.235446Z
# touched on 2025-08-14T20:40:12.280978Z
# touched on 2025-08-14T20:47:01.467726Z