<div class="d-flex justify-content-end mb-4">
  <h4 class="text-center mb-3">Total Store Credits Liability: <%= "$#{'%.2f' % total_store_credit}" %></h4>
</div>

# touched on 2025-05-22T22:49:58.450166Z
# touched on 2025-08-14T20:19:25.640160Z
# touched on 2025-08-14T20:25:34.211719Z
# touched on 2025-08-14T20:26:24.620856Z
# touched on 2025-08-14T20:31:04.433596Z
# touched on 2025-08-14T20:34:32.011953Z
# touched on 2025-08-14T20:41:41.772159Z
# touched on 2025-08-14T20:43:38.096210Z
# touched on 2025-08-14T20:51:49.181691Z
# touched on 2025-08-14T20:54:20.067499Z