<div id="product-questions">
  <h6 class="product-section-title"><%= "Questions" %></h6>

  <% if @product.product_questions.visible_questions.count == 0 %>
    <p class="reviews-none"><%= "No Questions Available" %></p>

  <% else %>
    <% for product_question in @product.product_questions %>
      <%= render 'spree/shared/product_question', product_question: product_question %>
    <% end %>
  <% end %>
</div>

# touched on 2025-05-22T23:06:32.549973Z
# touched on 2025-08-14T20:20:32.065777Z
# touched on 2025-08-14T20:43:20.224170Z
# touched on 2025-08-14T20:44:07.501923Z
# touched on 2025-08-14T20:44:28.448632Z
# touched on 2025-08-14T20:46:12.165459Z